.top-menu-inline-wrapper {
  display: flex;
  justify-content: center;
  /* flex-direction: row-reverse; */
  /* align-items: flex-start; */
  gap: 8px;
  width: 100%;
  /* background-color: red; */
  margin-bottom: 15px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.arrow.up {
  border-bottom: 10px solid #444;
}
.arrow.down {
  border-top: 10px solid #444;
}

.menu-slide-down {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.menu-inner {
  background: rgba(115, 42, 250, 0.56);
  /* background: #4501ff; */
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  /* max-width: 100%; */
  width: 100;
}

.menu-inner button {
  background: #ffffff;
  outline: 1px solid #6a4cff;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
.menu-panel-col {
  width: 100%;
}

.menu-inner button:hover {
  background-color: #6a4cff;
  color: white;
  transform: scale(1.04);
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  min-width: 100px;
  margin-left: auto;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-weight: bold;
  color: black;
}

.logo-image {
  width: 75px;
  height: 75px;
  /* border-radius: 50%; */
  object-fit: cover;
  /* background: transparent; */
  cursor: pointer;
}
.logo-image:hover {
  transform: scale(1.13);
  transition: transform 0.3s ease;
}
