.homepage-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: "siderbar outlet";
  height: 100vh;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
}

.outlet-container {
  grid-area: outlet;
  padding: 20px;
  overflow-y: auto;
  background-color: #ffffff;
  box-sizing: border-box;
}
