.home-layout {
    display: flex;
    direction: rtl;
    height: 100vh; 

  }
  
  .main-content {
    flex-grow: 1;
    padding: 24px;
    margin-right: 260px; 
    box-sizing: border-box;
    margin: 0.1;
  }
  .sidebar {
    width: 260px;        
    flex-shrink: 0;     
    box-sizing: border-box;
    background: #f0f0f0;
  }